$red : rgba(235, 56, 22, 0.8);
$orange : rgba(255, 120, 0, 0.8);
$yellow : rgba(255, 228, 0, 0.8);
$clear_green : rgba(170, 244, 0, 0.8);
$dark_green : rgba(0, 161, 52, 0.8);
$dark_blue : rgba(0, 133, 255, 0.8);
$clear_blue : rgba(132, 214, 255, 0.8);
$purple : rgba(155, 0, 128, 0.8);

html{
	height: 100%;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color:#FFF;
}

@font-face {
    font-family: "Orange";
    src: url(../fonts/orange_juice.ttf);
}
/*General style elements*/
aside{width:20%;}


ul{
	-webkit-user-select: none;
	cursor: pointer;
	li{
		-webkit-user-select: none;
		cursor: pointer;
	}
}

@-webkit-keyframes load-song-modal{
	0% {background-position:0 0;}
	100% {background-position:0 33%;}
}

@-webkit-keyframes load_one {
    10%   {opacity:0;}
    15%	  {opacity:0.5;}
    20%  {opacity:1;}
   
}

@-webkit-keyframes load_two {
    20%   {opacity:0;}
    25%	  {opacity:0.5;}
    30%  {opacity:1;}
   
}

@-webkit-keyframes load_three {
    30%   {opacity:0;}
    35%	  {opacity:0.5;}
    40%  {opacity:1;}
   
}

@-webkit-keyframes load_four {
    40%   {opacity:0;}
    45%	  {opacity:0.5;}
    50%  {opacity:1;}
   
}

@-webkit-keyframes load_five {
    50%   {opacity:0;}
    55%	  {opacity:0.5;}
    60%  {opacity:1;}
   
}


@-webkit-keyframes load_six {
    60%   {opacity:0;}
    65%	  {opacity:0.5;}
    70%  {opacity:1;}
   
}


@-webkit-keyframes load_seven {
    70%   {opacity:0;}
    75%	  {opacity:0.5;}
    80%  {opacity:1;}
   
}


@-webkit-keyframes load_eight {
    80%   {opacity:0;}
    85%	  {opacity:0.5;}
    90%  {opacity:1;}
   
}

.loader{
	position:absolute;
	width:100%;
	z-index:9999;
	background-color:rgba(255,255,255,1);
	min-height:100%;


	h2{text-align:center;
			font-size:100px;
			font-family:"Orange";}

	.load-line{width:80%;
				margin-left:auto;
				margin-right:auto;
				margin-top:50px;}

	.button{display:inline-block;
			text-align:center;
			opacity:0;
			width:80px;
			height:80px;
			background-image:url("../img/buttons_sprite.png");
			background-size: cover;

			&:hover{
				background-position:0 33%;
			}

	    	&[type="type-1"]{ -webkit-animation: load_one 3s infinite;
	    	background-color: $red; }

			&[type="type-2"]{ -webkit-animation: load_two 3s infinite;
			background-color: $orange;}

			&[type="type-3"]{ -webkit-animation: load_three 3s infinite;
			background-color: $yellow;}

			&[type="type-4"]{ -webkit-animation: load_four 3s infinite;
			background-color: $clear_green;}

			&[type="type-5"]{ -webkit-animation: load_five 3s infinite;
			background-color: $dark_green;}

			&[type="type-6"]{ -webkit-animation: load_six 3s infinite;
			background-color: $dark_blue; }

			&[type="type-7"]{ -webkit-animation: load_seven 3s infinite;
			background-color: $clear_blue; }

			&[type="type-8"]{ -webkit-animation: load_eight 3s infinite;
			background-color: $purple;}
    }
}


.song{

	&.todelete{opacity:0.5;}

	&[type="type-1"]{ background-color: $red; }/* RED */
	&[type="type-2"]{ background-color: $orange; }/* ORANGE */
	&[type="type-3"]{ background-color: $yellow; }/* YELLOW */
	&[type="type-4"]{ background-color: $clear_green; }/* CLEAR GREEN */
	&[type="type-5"]{ background-color: $dark_green; }/* DARK  GREEN */
	&[type="type-6"]{ background-color: $dark_blue; }/* DARK  BLUE */
	&[type="type-7"]{ background-color: $clear_blue; }/* CLEAR BLUE */
	&[type="type-8"]{ background-color: $purple; }/* PURPLE */
}


.buttons_left .button, #choose-song .button {
	background-image: url("../img/buttons_sprite.png");
	background-size: 100%;
	width: 57px;
	height: 57px; 
	background-repeat: no-repeat;
	background-position-y: -1px;
	position:relative;
	font-size:0px;

	span{font-size:32px;
	font-family:"Orange";
	position:absolute;
	top:5px;
	text-align:center;
	width:100%;
	padding-left:8px;}

	&[type="type-1"]{ background-color: $red; }/* RED */
	&[type="type-2"]{ background-color: $orange; }/* ORANGE */
	&[type="type-3"]{ background-color: $yellow; }/* YELLOW */
	&[type="type-4"]{ background-color: $clear_green; }/* CLEAR GREEN */
	&[type="type-5"]{ background-color: $dark_green; }/* DARK  GREEN */
	&[type="type-6"]{ background-color: $dark_blue; }/* DARK  BLUE */
	&[type="type-7"]{ background-color: $clear_blue; }/* CLEAR BLUE */
	&[type="type-8"]{ background-color: $purple; }/* PURPLE */


		&:hover{
		background-position:0 33%;
	}

	&.disabled{
		background-color: grey;
	}

}

/*.button::after {
  content:" ";
  display: inline-block;
  width: 90%;
  height: 90%;
  background-color:red;
  position:absolute;
  z-index:-1;

  left: 5px;
  top: 4px;
}
*/
 .round_btn{
    display: inline-block;
    width: 50px;
    height: 50px;
   	background-image: url("../img/buttons_sprite.png");
    background-size: cover;
	background-position: 0 67%;
    
    &.active{
		background-position: 0 100%;
		&:after{
			top:3px;
			left:-3px;
		}
    }

    &:after{
		content:"";
	    background-image: url("../img/circle_icon_sprite.png");
		background-position:0 67%;
		position: relative;
		display: inline-block;
		width:50px;
		height: 50px;
		background-repeat: no-repeat;
		background-size: 100%;
		background-color: transparent;	
	}

    &.trash_btn:after{    background-position-y: 0; }
	&.validate_btn:after{ background-position-y: -50px; }
	&.scissors_btn:after{ background-position-y: -100px; }
	&.unzoom_btn:after{   background-position-y: -150px; }
	&.zoom_btn:after{     background-position-y: -200px; }
	&.play_btn:after{     background-position-y: -250px; }
	&.pause_btn:after{    background-position-y: -300px; }
	&.stop_btn:after{     background-position-y: -350px; }
	&.begin_btn:after{    background-position-y: -400px; }
	&.end_btn:after{      background-position-y: -450px; }
	&.sound_btn:after{    background-position-y: -500px; }
	&.close_btn:after{    background-position-y: -550px; }
	&.plus_btn:after{     background-position-y: -600px; }

}

.app{

	width:100%;
    height: 100%;
    .row{
    	margin:0;
    }
	h1{
	    font-size:48px;
	    display:inline-block;
	    overflow:visible;
	    font-family:"Orange";
	    margin: 0px;
	    padding: 10px;
	}
}

header{
	width:100%;
	height:auto;

	img
	{
		max-width:100%;
	}
}

#buttons-songs{
	.button{margin-top:10px;}
}

#buttons-songs-modal{

	.button span{font-size:32px;
				font-family:"Orange";
				position:absolute;
				top:4px;
				text-align:center;
				width:100%;
				padding-left:5px;}

	.button{position:relative;}
}

#timeline{
	
	width: 100%;
    overflow-x: auto;
    position: relative;
    max-height: 100%;
    height: 500px;
    background: #f4f6fe;

    .piste {
    	border-bottom:1px solid white;
    	height: 25%;
    	position: relative;

    	.song{
    		position: absolute;
    		height:100%;
    		display: inline-block;
    		z-index: 1;
    		box-sizing:border-box;
			background-image: url("../img/texture_crayon-1.png");
			background-repeat-x: repeat;
			border-radius:3px;

    		&.active{
    			opacity: 0.6;
			}
			&.inDrag{
				opacity: 0.7;
				z-index: 3;
			}

			/* RED */
			&[type="type-1"]{
				background-color: $red;
				border: 5px solid $red;
			}

			/* ORANGE */
			&[type="type-2"]{
			 background-color: $orange;
			 border: 5px solid $orange; 
			 }

			/* YELLOW */
			&[type="type-3"]{ 
				background-color: $yellow; 
				border: 5px solid $yellow;
			}
			/* CLEAR GREEN */
			&[type="type-4"]{ 
				background-color: $clear_green;
				border: 5px solid $clear_green;
			}
			 /* DARK  GREEN */
			&[type="type-5"]{
				background-color: $dark_green; 
				border: 5px solid $dark_green;
			}
			/* DARK  BLUE */
			&[type="type-6"]{
				background-color: $dark_blue;
				border: 5px solid $dark_blue;
			}
			/* CLEAR BLUE */
			&[type="type-7"]{ 
				background-color: $clear_blue; 
				border: 5px solid $clear_blue;
			}
			/* PURPLE */
			&[type="type-8"]{
				background-color: $purple; 
				border: 5px solid $purple;
			}
    	}
		.box{
			height:60px;
		    width: 60px;
		    vertical-align: top;
			box-sizing:border-box;
			border:1px solid;
			text-align: center;

			.instrument{
				background-color: rgba(0,0,0,0.5);
				width: 100%;
				height: 100%;
			}
			.instrument.active{
				transform:scale(1.3);
			}
		}
		.box:nth-child(4n+1) {
		  border-left: 2px solid black;
		}
		.box:nth-child(4n) {
		  border-right: 2px solid black;
		}
	}

	#line{
		top: 0px;
		width: 0px;
		background: rgba(72,197,72,0.51);
		height: 100%;
		position: absolute;
		left: 0px;
		display: inline-block;
		border-right: 1px solid rgba(97,102,127,0.2);;
	    background: rgb(238, 240, 250);
	}
}

/*CSS MODAL*/
#myModal{
	
	.modal-dialog {
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    .modal-content{
	    	height: 100%;

	    	.modal-body{
	    		text-align: center;
	    	}
	    }
	}

	#choose-song{
	    display: inline-block;
	    text-align: left;

		div{margin-right:10px;}

		div .button span{font-size:32px;
					font-family:"Orange";
					position:absolute;
					top:4px;
					text-align:center;
					width:100%;
					padding-left:5px;
					}

		.button{
			width: 55px;
			height: 55px;
	    	background-image:url("../img/buttons_sprite.png");
			background-size: cover;
			display: inline-block;
			position:relative;
			opacity:0.2;

			&.active{
				background-position:0 33%;
			    opacity:1;
			}

		}

	}
}
/*---------*/

#deck-buttons{
	padding-top: 20px;
	padding-bottom: 20px;
	div:nth-of-type(3) {
		text-align:right;
	}

	
	div:nth-of-type(1){
		p{
			font-family:"Orange";
		}
	}
	
	img{
		margin-left:10px;
        width:40px;
        height:40px;
    }
}

#debug {
	background-color: black;
	color: #33FF33;
}


