$red : rgba(235, 56, 22, 0.8);
$orange : rgba(255, 120, 0, 0.8);
$yellow : rgba(255, 228, 0, 0.8);
$clear_green : rgba(170, 244, 0, 0.8);
$dark_green : rgba(0, 161, 52, 0.8);
$dark_blue : rgba(0, 133, 255, 0.8);
$clear_blue : rgba(132, 214, 255, 0.8);
$purple : rgba(155, 0, 128, 0.8);

$white : #ffffff;

html{
	height: 100%;
}
body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size:14px;
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
	font-weight:100;
	background-color:$white;
}

@font-face {
	font-family: "Orange";
	src: url(../fonts/orange_juice.ttf);
}
/*General style elements*/
aside{width:20%;}


ul{
	-webkit-user-select: none;
	cursor: pointer;
	li{
		-webkit-user-select: none;
		cursor: pointer;
	}
}

/* -------------- Loader1 -------------- */

@-webkit-keyframes loader1{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}



@-webkit-keyframes load-song-modal{
	0% {background-position:0 0;}
	100% {background-position:0 66%;}
}

@-webkit-keyframes load_one   { 00%{opacity:0;}20%{opacity:1;}}
@-webkit-keyframes load_two   { 10%{opacity:0;}30%{opacity:1;}}
@-webkit-keyframes load_three { 20%{opacity:0;}40%{opacity:1;}}
@-webkit-keyframes load_four  { 30%{opacity:0;}50%{opacity:1;}}
@-webkit-keyframes load_five  { 40%{opacity:0;}60%{opacity:1;}}
@-webkit-keyframes load_six   { 50%{opacity:0;}70%{opacity:1;}}
@-webkit-keyframes load_seven { 60%{opacity:0;}80%{opacity:1;}}
@-webkit-keyframes load_eight {	70%{opacity:0;}90%{opacity:1;}}


#overlay-traitement.active{display:block;}

#overlay-traitement{
	position:absolute;
	z-index:99999;
	width: 100%;
	min-height:100%;
	background-color: rgba(255,255,255,0.6);
	display:none;

	#traitement-popup{opacity:1;
	visibility: visible;}

	.loader1{
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 80px;
	border: 3px solid  rgba(0,0,0, .7);

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);

	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-animation: loader1 3s linear infinite;
			animation: loader1 3s linear infinite;
	}

	.loader1:after{
		content: "";
		position: absolute;
		top: -5px;
		left: 20px;
		width: 11px;
		height: 11px;
		border-radius: 10px;
		background-color: #000;
	}
}

.loader{
	position:absolute;
	width:100%;
	z-index:9999;
	background-color:rgba(255,255,255,1);
	min-height:100%;


	h2{text-align:center;
	font-size:100px;
	font-family:"Orange";
	font-weight: 100;}

	.load-line{
		width:80%;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	.button{
			width:80px;
			height:80px;
			opacity: 0;
	    	&[type="type-1"]{
	    		-webkit-animation: load_one 3s infinite;
	    	}

			&[type="type-2"]{ 
				-webkit-animation: load_two 3s infinite;
			}

			&[type="type-3"]{ 
				-webkit-animation: load_three 3s infinite;
			}

			&[type="type-4"]{ 
				-webkit-animation: load_four 3s infinite;
			}

			&[type="type-5"]{ 
				-webkit-animation: load_five 3s infinite;
			}

			&[type="type-6"]{ 
				-webkit-animation: load_six 3s infinite;
			}

			&[type="type-7"]{ 
				-webkit-animation: load_seven 3s infinite;
			}

			&[type="type-8"]{ 
				-webkit-animation: load_eight 3s infinite;
			}
	}
}


.button{
	
}


.button {
	background-image: url("../img/buttons_sprite.png");
	background-size: 100%;
	width: 57px;
	height: 57px; 
	background-repeat: no-repeat;
	position:relative;
	font-size:0px;
	display: inline-block;

	span{font-size:32px;
	font-family:"Orange";
	position:absolute;
	top:5px;
	text-align:center;
	width:100%;
	padding-left:8px;}

	&.disabled{
		background-color: grey;
	}
	&.active{
		background-position:0 33%;
	}
}

.app{

	width:100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	.row{
		margin:0;
	}
	h1{
		font-size:48px;
		display:inline-block;
		overflow:visible;
		font-family:"Orange";
		margin: 0px;
		padding-top: 10px;
		padding-bottom: 0px;
		font-weight:100;
	}

	.panel {
		height: 100%;
		width: 100%;
		opacity: 0;
		position: absolute;
		top: 0px;
		left: 0px;
		&.active{
			opacity:1;
			z-index: 1;
		}
	}

	.song{
		position: absolute;
		height:100%;
		display: inline-block;
		z-index: 1;
		box-sizing:border-box;
		background-image: url("../img/texture_crayon-1.png");
		background-repeat-x: repeat;
		border-radius:3px;

		&.active{
			opacity: 0.6;
		}
		&.inDrag{
			opacity: 0.7;
			z-index: 3;
		}
		&.todelete{
			opacity:0.5;
		}
		&.songToPlace{
			/*-webkit-animation: songToDropAnimation 1s infinite;*/
			/*position: fixed;*/
			z-index: 4;
		}

		&[type="type-1"]{ border: 5px solid $red;}
		&[type="type-2"]{ border: 5px solid $orange; }
		&[type="type-3"]{ border: 5px solid $yellow;}
		&[type="type-4"]{ border: 5px solid $clear_green;}
		&[type="type-5"]{ border: 5px solid $dark_green;}
		&[type="type-6"]{ border: 5px solid $dark_blue;}
		&[type="type-7"]{ border: 5px solid $clear_blue;}
		&[type="type-8"]{ border: 5px solid $purple;}

		span{
			font-size:32px;
			font-family:"Orange";
			position:absolute;
			top:4px;
			text-align:center;
			width:100%;
			padding-left:5px;
			overflow: hidden;
		}
		&[overOtherSong="true"]{
			background-color: red;
			border-color: red;
		}
	}

}

header{
	width:100%;
	height:auto;

	img
	{
		max-width:100%;
	}
}

#buttons-songs{
	.button{margin-top:10px;}
	
	.button{
		
		.quick-select{
			position: fixed;
			z-index: 3;
			max-width: 90%;
			padding-left: 78px;
			border-radius: 0px 20px 20px 0px;
			transition: transform 500ms;
			transform: translateX(-106%);
			background-color: white;
			box-shadow: 2px 2Px 2px rgba(0, 0, 0, 0.3);

			&>div{
				vertical-align: top;
				margin-left:10px;
				margin-right:10px;
			}

			&.active{
				transform: translateX(0);
			}

			.button{
				display: inline-block;
				margin-top: 0px;
			}
		}
	}
}

#buttons-songs-modal{

	.button span{font-size:32px;
				font-family:"Orange";
				position:absolute;
				top:4px;
				text-align:center;
				width:100%;
				padding-left:5px;}

	.button{position:relative;}
}

.main{
	#timelapse-container{
		width: 100%;
    	overflow-x: auto;
		position: relative;
		height: 25px;
		
	}
	
}

#timeline{
	width: 100%;
    overflow-x: auto;
    overflow-y:hidden;
    position: relative;
    max-height: 100%;
    height: 500px;
    background: #f4f6fe;

    #timeInfo {
		background-color: white;
		width: 400px;
		height: 6%;
		position: relative;
		.lapseLine{
			height: 100%;
			width: 1px;
			background-color:black; 
			position:absolute;
			span{
				margin-left: -7px;
				position: absolute;
				background-color: white;
			}
			&:first-of-type{
				span{
					margin-left: -1px;
				}
			};
		}
	}

    &::-webkit-scrollbar {
	    width: 10px;
	    height:10px;
	    margin:10px;
	}

	&::-webkit-scrollbar-thumb { 
		border-radius: 10px; 
		background: rgb(169,169,169);
		margin:10px; 
	}

	&::-webkit-scrollbar-track {
		border-radius: 10px;
	}
	#tracks{
		height: 94%;
		position: relative;
		.track {
			border-top: 1px solid #3F496E;
			width:400px;
			height: 25%;
			position: relative;

			&:last-of-type{
				border-bottom: 1px solid #3F496E;
			}
		}
	}
	

	#line{
		top: 0px;
		width: 0px;
		background: rgba(72,197,72,0.70);
		height: 100%;
		position: absolute;
		left: 0px;
		display: inline-block;
		border-right: 1px solid rgba(97,102,127,0.70);;
		background: rgb(238, 240, 250);
	}
}

/*CSS MODAL*/
#songsSelector{
	width: 100%;
	height: 100%;
	position: absolute;
	padding-top: 20px;
	left: 0px;
	top: 0px;
	text-align: center;
	overflow-y: scroll;

	#choose-song{
		display: inline-block;
		width: 40%;
		height: auto;
		text-align: left;


		div .button span{font-size:32px;
					font-family:"Orange";
					position:absolute;
					top:4px;
					text-align:center;
					width:100%;
					left: 0px;
					}
		.container-line{
			overflow-x: auto;
			width: 100%;
			
			&>div[type]{
				background-color:transparent;
				display: inline-block;
				.button{
					padding: 10px;
				}
			}
		}

		.button{
			width: 55px;
			height: 55px;
			background-image:url("../img/buttons_sprite.png");
			background-size: cover;
			display: inline-block;
			position:relative;
			opacity:0.3;

			&.active{
				background-position:0 33%;
				opacity:1;
			}

		}

	}
	.validate_btn{
		display: block;
		text-align: center;
		margin: 0 auto;
	}
}





#panel-record{
	
	#recordScreen{
		position: relative;
		/*width: 100%;*/
		height: 200px;    
		width: 90%;
		margin: 40px auto 50px;
		border: solid 1px black;

		#selector{
			background: rgba(223,223,223,0.9);
			height: 100%;
			width: 1px;
			display: inline-block;
			position: absolute;
			top: 0px;
			left: 0px;
		}
		#lineRecord{
			height: 100%;
			width: 1px;
			display: inline-block;
			position: absolute;
			background: green;
			top:0px;
			left: 0px;
		}
		canvas{
			position: relative;
			left: 0px;
			top: 0px;
			background: rgba(223,223,223,0.2);
		}
	}
	#record-controls{
		text-align: center;
		#playRecord, #cutRecord, #recordButton{
			transition-property: opacity;
			transition-duration: .2s;
			opacity: 1;
		}

		.player_controls{
			text-align: center;

			&.recording{
				#recordButton:after{
					background-position-y:-700px;
				}
				#playRecord, #cutRecord{
					opacity: .4;
				}
			}
			&.playing{
				#playRecord{
				}
				#recordButton, #cutRecord{
					opacity: .4;
				}
			}
		}
		.panel_controls{
			text-align: center;
			position: absolute;
			bottom: 10px;
			width: 100%;
		}
	}
}






/*---------*/

#deck-buttons{
	padding-top: 10px;
	div:nth-of-type(3) {
		text-align:right;
	}


	div:nth-of-type(2){
		text-align:center;
	}
	
	img{
		margin-left:10px;
		width:40px;
		height:40px;
	}
}

#debug {
	background-color: black;
	color: #33FF33;
}


/* GENERAL MENU */
#general-menu-button{
  float:right;
}
#general-menu{
	background-color: $white;
	position: absolute;
	width: 0px;
	overflow:hidden;
	right: 0;
	top: 0px;
	height: 100%;
	box-shadow: rgba(0,0,0,0.2) -5px 0 5px;
	transition-duration: .3s;
	&.active{
	  width: 75px;
	  right: 0px;
	  z-index: 3;
	  &.helpActive{
		width: 315px;
		p{
		  width: 225px;
		  margin-right: 10px;
		}
	  }
	}
	ul{
	  padding: 20px 10px;
	}
	li{
	list-style-type: none;
	font-size: 20px;
	margin-bottom: 10px;
	text-align: right;
	height: 60px;
	}
	p{
	  display: inline-block;
	  width:0px;
	  padding-top: 12px;
	  overflow: hidden;
	  transition-duration: .3s;
	  white-space:nowrap;
	  float:right;
	margin-right: 0px;
	}
	.square_btn{
	  vertical-align: middle;
	  float:right;
  }
  .round_btn{
	margin-top: 20px;
  }
}
#general-menu-overlay{
  /* display: block; */
	height: 100%;
	background-color: transparent;
	position: absolute;
	top: 0px;
	right: 0px;
	transition: transform;
	z-index: 2;
	transform: translateX(100%);
	transition-duration: 0.3s;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	&.active{
		transform: translateX(0);
	}
}
.sub-menu{
  position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 10%;
	width: 500px;
	padding: 20px 10px 30px;
  	box-shadow: rgba(0,0,0,0.2) -5px 0 5px;
  	background-color: $white;
  	visibility: hidden;
	text-align: center;
  	z-index: 2;
  	opacity: 0;
  	transition-duration: .3s;
  	&.active{
	visibility: visible;
	opacity: 1;
  }

  input{
	  background-color: #eee;
	  border: none;
	  border-radius: 5px;
	  width: 400px;
	  height: 40px;
	  box-shadow: rgba(0,0,0,.2) 3px 3px 5px inset;
	  text-align:center;
	  margin-bottom: 20px;
  }
  .validate_btn{
	display: block;
	margin:auto;
  }
  ul{
	list-style-type: none;
	padding: 0;
	margin-bottom: 15px;
  }

  h2{
  	font-family:"Orange";
  	font-weight: 100;
	font-size: 36px;
  }

  .loader1{
  	display: none;
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 80px;
	border: 3px solid  rgba(0,0,0, .7);

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);

	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-animation: loader1 3s linear infinite;
			animation: loader1 3s linear infinite;
	}

	.loader1:after{
		content: "";
		position: absolute;
		top: -5px;
		left: 20px;
		width: 11px;
		height: 11px;
		border-radius: 10px;
		background-color: #000;
	}

}


#manage-menu{
	width: 80%;
	left: 5%;
	margin: 0;
	height: 90%;
	top: 5%;
	
	&>div {
		position: relative;
		height: 100%;
		z-index: 5;
	}

	.button.inDrag {
		position: absolute;
		z-index: 6;
		background-color: #fff;

	}

	.sorter{
		overflow-y: scroll;
		width: 33%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		position: relative;
		text-align: left;
	}

	#sound_to_sort{
		float: left;
		width: 33%;
		height: 100%;
		margin: 0;
		padding: 10px;
		&.selected{
			background-color: #ccc;
		}
	}

	.button {
		width: 55px;
		height: 55px;
		
		&.cloned{
			&:after{
				content: "";
				background-color: #aaa!important;
				position: relative;
				top: 4px;
				display: inline-block;
				width:50px;
				height: 50px;
				z-index: -1;
				background-color: #aaa;
			}
		}
	}

	#sorting_colors{

		.pool{
			display: inline-block;
			width: 50%;
			height: 25%;
			margin: 0;
			padding: 0;
			float: left;
			border: solid 3px $white;
			border-radius: 16px;
			transition-property: background-color;
			transition-duration: .3s;
		}
	}

}

[type="type-1"]{ background-color: $red; }
[type="type-2"]{ background-color: $orange; }
[type="type-3"]{ background-color: $yellow; }
[type="type-4"]{ background-color: $clear_green; }
[type="type-5"]{ background-color: $dark_green; }
[type="type-6"]{ background-color: $dark_blue; }
[type="type-7"]{ background-color: $clear_blue; }
[type="type-8"]{ background-color: $purple; }

.square_btn{
	background-image: url("../img/buttons_sprite.png");
	background-size: cover;
	width: 55px;
	height: 55px;
	display: inline-block;
	&:after{
		content:"";
		background-image: url("../img/square_icon_sprite.png");
		background-position:0 50px;
		position: relative;
		top: 4px;
		display: inline-block;
		width:50px;
		height: 50px;
		background-repeat: no-repeat;
		background-size: 100%;
		background-color: transparent;    
	}
	&.validate_btn:after{background-position-y:0; }
	&.close_btn:after{   background-position-y:-50px; }
	&.menu_btn:after{    background-position-y:-100px; }
	&.export_btn:after{  background-position-y:-150px; }
	&.manage_btn:after{  background-position-y:-200px; }
	&.save_btn:after{    background-position-y:-250px; }
	&.question_btn:after{background-position-y:-300px; }
	&.load_btn:after{    background-position-y:-350px; }
	&.new_btn:after{     background-position-y:-400px; }
	&.micro_btn:after{   background-position-y:-450px; }
}

.round_btn{
	display: inline-block;
	width: 49px;
	height: 50px;
	background-image: url("../img/buttons_sprite.png");
	background-size: cover;
	background-position: 0 67%;
	margin-top: 2px;
	
	&.active{
		background-position: 0 100%;
		&:after{
			top:3px;
			left:-3px;
		}
	}

	&:after{
		content:"";
		background-image: url("../img/circle_icon_sprite.png");
		background-position:0 67%;
		position: relative;
		display: inline-block;
		width:50px;
		height: 50px;
		background-repeat: no-repeat;
		background-size: 100%;
		background-color: transparent;	
	}

	&.trash_btn:after{    background-position-y: 0; }
	&.validate_btn:after{ background-position-y: -50px; }
	&.scissors_btn:after{ background-position-y: -100px; }
	&.unzoom_btn:after{   background-position-y: -150px; }
	&.zoom_btn:after{     background-position-y: -200px; }
	&.play_btn:after{     background-position-y: -250px; }
	&.pause_btn:after{    background-position-y: -300px; }
	&.stop_btn:after{     background-position-y: -350px; }
	&.begin_btn:after{    background-position-y: -400px; }
	&.end_btn:after{      background-position-y: -450px; }
	&.sound_btn:after{    background-position-y: -500px; }
	&.close_btn:after{    background-position-y: -550px; }
	&.plus_btn:after{     background-position-y: -600px; }
	&.red_rec_btn:after{  background-position-y: -650px; }
	&.red_stop_btn:after{ background-position-y: -700px; }
	&.question_btn:after{ background-position-y: -750px; }

}