html {
  height: 100%; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #FFF; }

@font-face {
  font-family: "Orange";
  src: url(../fonts/orange_juice.ttf); }

/*General style elements*/
aside {
  width: 20%; }

ul {
  -webkit-user-select: none;
  cursor: pointer; }
  ul li {
    -webkit-user-select: none;
    cursor: pointer; }

@-webkit-keyframes load-song-modal {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 33%; } }

@-webkit-keyframes load_one {
  10% {
    opacity: 0; }
  15% {
    opacity: 0.5; }
  20% {
    opacity: 1; } }

@-webkit-keyframes load_two {
  20% {
    opacity: 0; }
  25% {
    opacity: 0.5; }
  30% {
    opacity: 1; } }

@-webkit-keyframes load_three {
  30% {
    opacity: 0; }
  35% {
    opacity: 0.5; }
  40% {
    opacity: 1; } }

@-webkit-keyframes load_four {
  40% {
    opacity: 0; }
  45% {
    opacity: 0.5; }
  50% {
    opacity: 1; } }

@-webkit-keyframes load_five {
  50% {
    opacity: 0; }
  55% {
    opacity: 0.5; }
  60% {
    opacity: 1; } }

@-webkit-keyframes load_six {
  60% {
    opacity: 0; }
  65% {
    opacity: 0.5; }
  70% {
    opacity: 1; } }

@-webkit-keyframes load_seven {
  70% {
    opacity: 0; }
  75% {
    opacity: 0.5; }
  80% {
    opacity: 1; } }

@-webkit-keyframes load_eight {
  80% {
    opacity: 0; }
  85% {
    opacity: 0.5; }
  90% {
    opacity: 1; } }

.loader {
  position: absolute;
  width: 100%;
  z-index: 9999;
  display: none;
  background-color: white;
  min-height: 100%; }
  .loader h2 {
    text-align: center;
    font-size: 100px;
    font-family: "Orange"; }
  .loader .load-line {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; }
  .loader .button {
    display: inline-block;
    text-align: center;
    opacity: 0;
    width: 80px;
    height: 80px;
    background-image: url("../img/buttons_sprite.png");
    background-size: cover; }
    .loader .button:hover {
      background-position: 0 33%; }
    .loader .button[type="type-1"] {
      -webkit-animation: load_one 3s infinite; }
    .loader .button[type="type-2"] {
      -webkit-animation: load_two 3s infinite; }
    .loader .button[type="type-3"] {
      -webkit-animation: load_three 3s infinite; }
    .loader .button[type="type-4"] {
      -webkit-animation: load_four 3s infinite; }
    .loader .button[type="type-5"] {
      -webkit-animation: load_five 3s infinite; }
    .loader .button[type="type-6"] {
      -webkit-animation: load_six 3s infinite; }
    .loader .button[type="type-7"] {
      -webkit-animation: load_seven 3s infinite; }
    .loader .button[type="type-8"] {
      -webkit-animation: load_eight 3s infinite; }

.song, .button {
  /* RED */
  /* ORANGE */
  /* YELLOW */
  /* CLEAR GREEN */
  /* DARK  GREEN */
  /* DARK  BLUE */
  /* CLEAR BLUE */
  /* PURPLE */ }
  .song.todelete, .button.todelete {
    opacity: 0.5; }
  .song[type="type-1"], .button[type="type-1"] {
    background-color: rgba(235, 56, 22, 0.8); }
  .song[type="type-2"], .button[type="type-2"] {
    background-color: rgba(255, 120, 0, 0.8); }
  .song[type="type-3"], .button[type="type-3"] {
    background-color: rgba(255, 228, 0, 0.8); }
  .song[type="type-4"], .button[type="type-4"] {
    background-color: rgba(170, 244, 0, 0.8); }
  .song[type="type-5"], .button[type="type-5"] {
    background-color: rgba(0, 161, 52, 0.8); }
  .song[type="type-6"], .button[type="type-6"] {
    background-color: rgba(0, 133, 255, 0.8); }
  .song[type="type-7"], .button[type="type-7"] {
    background-color: rgba(132, 214, 255, 0.8); }
  .song[type="type-8"], .button[type="type-8"] {
    background-color: rgba(155, 0, 128, 0.8); }

.buttons_left .button, #choose-song .button {
  background-image: url("../img/buttons_sprite.png");
  background-size: 100%;
  width: 57px;
  height: 57px;
  background-repeat: no-repeat;
  background-position-y: -1px;
  position: relative;
  font-size: 0px;
  /* RED */
  /* ORANGE */
  /* YELLOW */
  /* CLEAR GREEN */
  /* DARK  GREEN */
  /* DARK  BLUE */
  /* CLEAR BLUE */
  /* PURPLE */ }
  .buttons_left .button span, #choose-song .button span {
    font-size: 32px;
    font-family: "Orange";
    position: absolute;
    top: 5px;
    text-align: center;
    width: 100%;
    padding-left: 8px; }
  .buttons_left .button[type="type-1"], #choose-song .button[type="type-1"] {
    background-color: rgba(235, 56, 22, 0.8); }
  .buttons_left .button[type="type-2"], #choose-song .button[type="type-2"] {
    background-color: rgba(255, 120, 0, 0.8); }
  .buttons_left .button[type="type-3"], #choose-song .button[type="type-3"] {
    background-color: rgba(255, 228, 0, 0.8); }
  .buttons_left .button[type="type-4"], #choose-song .button[type="type-4"] {
    background-color: rgba(170, 244, 0, 0.8); }
  .buttons_left .button[type="type-5"], #choose-song .button[type="type-5"] {
    background-color: rgba(0, 161, 52, 0.8); }
  .buttons_left .button[type="type-6"], #choose-song .button[type="type-6"] {
    background-color: rgba(0, 133, 255, 0.8); }
  .buttons_left .button[type="type-7"], #choose-song .button[type="type-7"] {
    background-color: rgba(132, 214, 255, 0.8); }
  .buttons_left .button[type="type-8"], #choose-song .button[type="type-8"] {
    background-color: rgba(155, 0, 128, 0.8); }
  .buttons_left .button:hover, #choose-song .button:hover {
    background-position: 0 33%; }
  .buttons_left .button.disabled, #choose-song .button.disabled {
    background-color: grey; }

/*.button::after {
  content:" ";
  display: inline-block;
  width: 90%;
  height: 90%;
  background-color:red;
  position:absolute;
  z-index:-1;

  left: 5px;
  top: 4px;
}
*/
.round_btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../img/buttons_sprite.png");
  background-size: cover;
  background-position: 0 67%; }
  .round_btn.active {
    background-position: 0 100%; }
    .round_btn.active:after {
      top: 3px;
      left: -3px; }
  .round_btn:after {
    content: "";
    background-image: url("../img/circle_icon_sprite.png");
    background-position: 0 67%;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent; }
  .round_btn.trash_btn:after {
    background-position-y: 0; }
  .round_btn.validate_btn:after {
    background-position-y: -50px; }
  .round_btn.scissors_btn:after {
    background-position-y: -100px; }
  .round_btn.unzoom_btn:after {
    background-position-y: -150px; }
  .round_btn.zoom_btn:after {
    background-position-y: -200px; }
  .round_btn.play_btn:after {
    background-position-y: -250px; }
  .round_btn.pause_btn:after {
    background-position-y: -300px; }
  .round_btn.stop_btn:after {
    background-position-y: -350px; }
  .round_btn.begin_btn:after {
    background-position-y: -400px; }
  .round_btn.end_btn:after {
    background-position-y: -450px; }
  .round_btn.sound_btn:after {
    background-position-y: -500px; }
  .round_btn.close_btn:after {
    background-position-y: -550px; }
  .round_btn.plus_btn:after {
    background-position-y: -600px; }

.app {
  width: 100%;
  height: 100%;
  position: relative; }
  .app .row {
    margin: 0; }
  .app h1 {
    font-size: 48px;
    display: inline-block;
    overflow: visible;
    font-family: "Orange";
    margin: 0px;
    padding: 10px; }
  .app .panel {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px; }
    .app .panel.active {
      opacity: 1;
      z-index: 1; }

header {
  width: 100%;
  height: auto; }
  header img {
    max-width: 100%; }

#buttons-songs .button {
  margin-top: 10px; }

#buttons-songs-modal .button span {
  font-size: 32px;
  font-family: "Orange";
  position: absolute;
  top: 4px;
  text-align: center;
  width: 100%;
  padding-left: 5px; }

#buttons-songs-modal .button {
  position: relative; }

#timeline {
  width: 100%;
  overflow-x: auto;
  position: relative;
  max-height: 100%;
  height: 500px;
  background: #f4f6fe; }
  #timeline .piste {
    border-bottom: 1px solid white;
    height: 25%;
    position: relative; }
    #timeline .piste .song {
      position: absolute;
      height: 100%;
      display: inline-block;
      z-index: 1;
      box-sizing: border-box;
      background-image: url("../img/texture_crayon-1.png");
      background-repeat-x: repeat;
      border-radius: 3px;
      /* RED */
      /* ORANGE */
      /* YELLOW */
      /* CLEAR GREEN */
      /* DARK  GREEN */
      /* DARK  BLUE */
      /* CLEAR BLUE */
      /* PURPLE */ }
      #timeline .piste .song.active {
        opacity: 0.6; }
      #timeline .piste .song.inDrag {
        opacity: 0.7;
        z-index: 3; }
      #timeline .piste .song[type="type-1"] {
        background-color: rgba(235, 56, 22, 0.8);
        border: 5px solid rgba(235, 56, 22, 0.8); }
      #timeline .piste .song[type="type-2"] {
        background-color: rgba(255, 120, 0, 0.8);
        border: 5px solid rgba(255, 120, 0, 0.8); }
      #timeline .piste .song[type="type-3"] {
        background-color: rgba(255, 228, 0, 0.8);
        border: 5px solid rgba(255, 228, 0, 0.8); }
      #timeline .piste .song[type="type-4"] {
        background-color: rgba(170, 244, 0, 0.8);
        border: 5px solid rgba(170, 244, 0, 0.8); }
      #timeline .piste .song[type="type-5"] {
        background-color: rgba(0, 161, 52, 0.8);
        border: 5px solid rgba(0, 161, 52, 0.8); }
      #timeline .piste .song[type="type-6"] {
        background-color: rgba(0, 133, 255, 0.8);
        border: 5px solid rgba(0, 133, 255, 0.8); }
      #timeline .piste .song[type="type-7"] {
        background-color: rgba(132, 214, 255, 0.8);
        border: 5px solid rgba(132, 214, 255, 0.8); }
      #timeline .piste .song[type="type-8"] {
        background-color: rgba(155, 0, 128, 0.8);
        border: 5px solid rgba(155, 0, 128, 0.8); }
    #timeline .piste .box {
      height: 60px;
      width: 60px;
      vertical-align: top;
      box-sizing: border-box;
      border: 1px solid;
      text-align: center; }
      #timeline .piste .box .instrument {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%; }
      #timeline .piste .box .instrument.active {
        transform: scale(1.3); }
    #timeline .piste .box:nth-child(4n+1) {
      border-left: 2px solid black; }
    #timeline .piste .box:nth-child(4n) {
      border-right: 2px solid black; }
  #timeline #line {
    top: 0px;
    width: 0px;
    background: rgba(72, 197, 72, 0.51);
    height: 100%;
    position: absolute;
    left: 0px;
    display: inline-block;
    border-right: 1px solid rgba(97, 102, 127, 0.2);
    background: #eef0fa; }

/*CSS MODAL*/
#myModal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0; }
  #myModal .modal-dialog .modal-content {
    height: 100%; }
    #myModal .modal-dialog .modal-content .modal-body {
      text-align: center; }

#myModal #choose-song {
  display: inline-block;
  text-align: left; }
  #myModal #choose-song div {
    margin-right: 10px; }
  #myModal #choose-song div .button span {
    font-size: 32px;
    font-family: "Orange";
    position: absolute;
    top: 4px;
    text-align: center;
    width: 100%;
    padding-left: 5px; }
  #myModal #choose-song .button {
    width: 55px;
    height: 55px;
    background-image: url("../img/buttons_sprite.png");
    background-size: cover;
    display: inline-block;
    position: relative;
    opacity: 0.2; }
    #myModal #choose-song .button.active {
      background-position: 0 33%;
      opacity: 1; }

#panel-record .round_btn[action="stop"] {
  background-color: red; }

#panel-record #recordScreen {
  position: relative;
  /*width: 100%;*/
  height: 200px; }
  #panel-record #recordScreen #selector {
    background: blue;
    height: 100%;
    width: 1px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px; }
  #panel-record #recordScreen #lineRecord {
    height: 100%;
    width: 1px;
    display: inline-block;
    position: absolute;
    background: green;
    top: 0px;
    left: 0px; }
  #panel-record #recordScreen canvas {
    position: relative;
    left: 0px;
    top: 0px;
    background: rgba(2, 34, 3, 0.2); }

#panel-record #controls-record {
  text-align: center; }

/*---------*/
#deck-buttons {
  padding-top: 20px;
  padding-bottom: 20px; }
  #deck-buttons div:nth-of-type(3) {
    text-align: right; }
  #deck-buttons div:nth-of-type(1) p {
    font-family: "Orange"; }
  #deck-buttons img {
    margin-left: 10px;
    width: 40px;
    height: 40px; }

#debug {
  background-color: black;
  color: #33FF33; }
