.square_btn{
	display: inline-block;
	background: url('square_button_sprite.png') no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
}
.square_btn.micro_btn  { background-position-y: 0; }
.square_btn.harp_btn   { background-position-y: -50px; }
.square_btn.maracas_btn{ background-position-y: -100px; }
.square_btn.piano_btn  { background-position-y: -150px; }
.square_btn.cimbals_btn{ background-position-y: -200px; }
.square_btn.drum_btn   { background-position-y: -250px; }
.square_btn.guitar_btn{ background-position-y: -300px; }
.square_btn.trumpet_btn{ background-position-y: -350px; }
.square_btn.plus_btn   { background-position-y: -400px; }

.square_btn.micro_btn:active  { background-position-y: -450px; }
.square_btn.harp_btn:active   { background-position-y: -500px; }
.square_btn.maracas_btn:active{ background-position-y: -550px; }
.square_btn.piano_btn:active  { background-position-y: -600px; }
.square_btn.cimbals_btn:active{ background-position-y: -650px; }
.square_btn.drum_btn:active   { background-position-y: -700px; }
.square_btn.guitare_btn:active{ background-position-y: -750px; }
.square_btn.trumpet_btn:active{ background-position-y: -800px; }
.square_btn.plus_btn:active   { background-position-y: -850px; }

/*
VM236:2 477
VM236:2 530
VM236:2 583
VM236:2 636
VM236:2 689
VM236:2 742
VM236:2 795
VM236:2 848
VM236:2 901
VM236:2 954
VM236:2 1007
*/